<h1>Page d'édition du Corsaire</h1>
<p>Depuis cette page il est possible de modifier les informations du Corsaire.</p> 
<p>Les anciennes informations sont déjà pré-remplies pour vous guider.</p>

<%= form_for(@corsaire) do |f| %>

  <p>
    <%= f.label :first_name, value:'Prénom' %>
    <%= f.text_field :first_name, placeholder: @corsaire.first_name %>
  </p>

  <p>
    <%= f.label :first_name, value:'Age' %>
    <%= f.number_field :age, in:15...120, placeholder: @corsaire.age %>
  </p>

  <p>
    <%= f.label :bio, value:'Rédige ta bio ici' %>
    <%= f.text_field :bio, placeholder: "Par exemple raconte où est née ta Grand-Mère et qu'est-ce que tu as mangé au petit-déjeuner hier." %>
  </p>

  <p>
    <%= f.label :slack_handle, value:'Pseudo Slack' %>
    <%= f.text_field :slack_handle %>
  </p>

  <p>
    <%= f.label :github_handle, value:'Pseudo Github' %>
    <%= f.text_field :github_handle %>
  </p>

  <p> Au fait ce Corsaire est plutôt Kebab ou Hummus ?
    <br />
    <%= radio_button_tag(:likeness,'Kebab') %>
    <%= label_tag(:likeness, "Kebab, la base !") %>
    <br />
    <%= radio_button_tag(:likeness, 'Hummus') %>
    <%= label_tag(:likeness, "Hummus, enfin...") %>
  </p>

  <p>
    <%= f.submit "Modifier le Corsaire" %>
  </p>

<% end %>

<p>Si par hasard tu souhaites supprimer ce corsaire clique sur le lien suivant...</p>

<%= link_to 'Clique pour détruire', @corsaire, method: :delete %>
